<footer class="label mt-8 mb-4 flex flex-col justify-center text-sm">
  <span> Made with ❤️ by Shone Binu</span>
  <span
    >Powered by <a href="https://astro.build/" class="link">Astro</a> • <a
      href="https://github.com/shonebinu/portfolio"
      class="link">Source Code</a
    ></span
  >
</footer>
