---
import ThemeSwitch from "./ThemeSwitch.astro";
import { header } from "../consts.ts";

const navItems = [
  { href: "/", label: "About" },
  { href: "/projects", label: "Projects" },
  { href: "/blog", label: "Blog" },
];

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
---

<header
  class="bg-base-300/30 sticky top-0 z-10 flex items-center justify-between p-4 backdrop-blur-md"
>
  <h2><a href="/">{header.logoTitle}</a></h2>

  <nav class="flex gap-4">
    {
      navItems.map((item) => {
        const isActive =
          item.href === pathname || item.href === "/" + (subpath?.[0] || "");

        return (
          <a
            href={item.href}
            class={`link font-medium ${isActive ? "link-primary" : ""}`}
          >
            {item.label}
          </a>
        );
      })
    }
  </nav>

  <ThemeSwitch />
</header>
