---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { meta } from "../consts";
const {
  title = meta.about.title,
  description = meta.about.description,
  image,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>

  <body class="flex min-h-svh flex-col bg-[url(/stardust.png)]">
    <div class="flex-1">
      <Header />
      <main class="mx-auto mt-6 max-w-2xl px-4">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
